[controller]
enable = true
c = [3.0,3.0,3.0]
k = 3
T_max = 0.020
T_min = 0
filter_coef = 0
time_step = 0.1
type="standard"
adaptive_gain = 0.1

[wheels]
config = "ortho" # options = [ortho, pyramid, tetrahedron]
mass = 0.31
radius = 0.066
height = 0.025
max_speed_rpm = 10000 #rpm
max_torque = 0.1

[fault]
type = "torque_limit" # options = [catastrophic comm_delay torque_limit]
torque_limit = 0.5 # torque limit fraction
filter_coef = 0.99
wheel_axis = 'y'
time = 0
master_enable = false
update_rate = 0.5

[satellite]
euler_init_en = false
euler_init = [0, 0, 0]
q_init = [0,0,0,1]
mode = "direction"
ref_T = [0, 1, 0]
ref_euler_angle = [0, 0, 45]
wheels_control_enable = true

dimensions = {'x' = 0.3, 'y' = 0.3, 'z' = 0.3}
mass = 50

[simulation]
enable = true
duration = 100
resolution = 0.1
test_mode_en = false
test_duration = 3
test_resolution = 1

[output]
accuracy_enable = false
energy_enable = true