debug_log = false

[simulation]
enable = true
duration = 300
resolution = 0.1
test_mode_en = false
test_duration = 10
test_resolution = 1
iterations = 2

[controller]
enable = true
c = [ 10, 10, 10,]
k = 6
kj = 0.1422
kd = 0.5333
T_max = 0.2
T_min = 0
filter_coef = 0
time_step = 0.1
type = "backstepping" # q_feedback, backstepping, adaptive
sub_type = "Shen"
adaptive_gain = 0.1

[wheels]
config = "custom"
mass = 0.31
radius = 0.066
height = 0.025
max_speed_rpm = 10000
max_torque = 0.2
num_wheels = 4
D = [ [ -1, -1, 1, 1,], [ 1, -1, -1, 1,], [ 1, 1, 1, 1,],]

[fault]
type = "catastrophic"
torque_limit = 0.5
filter_coef = 0.99
wheel_num = 0
mul_fault = [ 0.0, 1.0, 1.0, 1.0,]
# mul_fault = [ 0.6, 1.0, 1.0,]
add_fault = [ 0, 0, 0, 0,]
time = 0
master_enable = true
update_rate = 0.5

[satellite]
euler_init_en = true
euler_init = [ 180, 0, 0,]
q_init = [ -0.5, 0.3, 0.4, 0.7071,]
mode = "direction"
ref_T = [ 0, 1, 0,]
use_ref_euler = false
ref_euler = [ 0, 0, 5,]
use_ref_q = true
ref_q = [ 0, 0, 0, 1,]
wheels_control_enable = true
mass = 12
M_Inertia = [ [ 10.0, 1.2, 0.5,], [ 1.2, 19.0, 1.5,], [ 0.5, 1.5, 25.0,],]
inertia_override = true

[output]
accuracy_enable = true
energy_enable = true
log_enable = true
append_date = false
pdf_output_enable = false
log_file_name_overide = "None"
separate_plots_display = false

[satellite.dimensions]
x = 0.3
y = 0.3
z = 0.3
